.vkaudioBitrate {
  position: absolute;
  margin: -16px 0 0 -19px;
  color: #fff;
  background-color: #008000;
  border-radius: 3px;
  font-size: 10px !important;
  padding: 2px 2px 0px 1px;
  height: 14px;
  vertical-align: middle;
}
.vkaudioHidden {
  display: none;
}
.vkaudioShown {
  display: block;
}
.green {
  background-color: #008000;
}
.blue {
  background-color: royalBlue;
}
.orange {
  background-color: #ffa500;
}
.red {
  background-color: #f00;
}
.brown {
  background-color: #a52a2a;
}
