<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>ru.inkuzmin.vk-audio</string>
       <key>Developer Identifier</key>
       <string>2JXCS38LA8</string>
       <key>CFBundleVersion</key>
       <string>1.23</string>
       <key>CFBundleShortVersionString</key>
       <string>1.23</string>
       <key>URL</key>
       <string>https://raw.github.com/inkuzmin/vk-audio-bits/master/vk-audio-bits.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
