<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>inkuzmin</string>
	<key>Builder Version</key>
	<string>8536.29.13</string>
	<key>CFBundleDisplayName</key>
	<string>Pirate</string>
	<key>CFBundleIdentifier</key>
	<string>ru.inkuzmin.pirate</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.25</string>
	<key>CFBundleVersion</key>
	<string>1.25</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>1048576</real>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/inject.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Show information about tracks'  bit rates at vk.com and scrobble them to last.fm</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.vk.com</string>
				<string>*.userapi.com</string>
				<string>*.audioscrobbler.com</string>
				<string>*.vk.me</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://inkuzmin.ru/~inkuzmin/pirate</string>
</dict>
</plist>
