.vkaudioBitrate
	position absolute
	margin -16px 0 0 -19px
	color white
	background-color green
	border-radius 3px
	font-size 10px !important
	padding 2px 2px 0px 1px
	height 14px
	vertical-align middle



.vkaudioHidden
	display none

.vkaudioShown
	display block

.green
	background-color green

.blue
	background-color royalBlue

.orange
	background-color orange

.red
	background-color red

.brown
	background-color brown
